{% load static from staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>dezentrale e.V. - ein Hackerspace in Leipzig</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="space-api" href="/api/status.json" type="application/json" />
	</head>
	<body>

  <header id="header">
    <nav class="left">
      <a href="#menu"><span>Menu</span></a>
    </nav>
    <a href="/" class="logo">dezentrale</a>
    <nav class="right">
      <img src="/api/status.php" alt="Status" />
    </nav>
  </header>

  <nav id="menu">
    <ul class="links">
        <li><a href="/">Start</a></li>
        <!-- https://dezentrale.space/dokumente -->
        <li><a href="/dokumente">Dokumente</a></li>
        <!-- https://dezentrale.space/impressum -->
        <li><a href="/impressum">Impressum</a></li>
        <!-- https://dezentrale.space/girokonto -->
        <li><a href="/girokonto">Konto</a></li>
        <!-- https://dezentrale.space/wiki -->
        <li><a href="/wiki/">Wiki</a></li>
    </ul>
    <ul class="actions vertical">
      <li><a href="#" class="button fit">Knopf</a></li>
    </ul>
  </nav>

  {% block content %}{% endblock content %}

  <footer id="footer">
    <div class="inner">
      <h2>Participate. Learn. Create.</h2>
      <ul class="actions">
        <li><span class="icon fa-phone"></span>(0221) 596193719</li>
        <li><span class="icon fa-envelope"></span> <a href="https://lists.dezentrale.space/mailman/listinfo">Mailinglisten</a></li>
        <li><span class="icon fa-map-marker"></span><a href="https://www.openstreetmap.org/way/41760585"> Dreilindenstraße 19, 04177 Leipzig</a></li>
      </ul>
    </div>
  </footer>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
  <script src="{% static 'js/skel.min.js' %}"></script>
  <script src="{% static 'js/util.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/canvas.js' %}"></script>
	</body>
</html>
