{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<section id="one" class="wrapper">
    <div class="align-center">
        <h1>Dokumente</h1>
    </div>
    <div class="inner">
        <div class="6u 12u$(small)">
            <ul>
                <li>Mitgliedsantrag - revision 2017-09-30<a href="https://www.phantomix.de/dezentrale/mitgliedsantrag-2017-09-30.pdf"> (PDF)</a></li>
                <hr/>
                <li>Satzung - revision 2017-07-02<a href="https://dezentrale.space/docs/satzung-2017-07-02.pdf"> (PDF)</a><a href="https://github.com/phantomix-github/dezentrale/blob/master/satzung.tex"> (TeX source)</a></li>
                <li>Geschäftsordnung - revision 2017-06-21<a href="https://dezentrale.space/docs/geschaeftsordnung-2017-06-21.pdf"> (PDF)</a><a href="https://github.com/phantomix-github/dezentrale/blob/master/geschaeftsordnung.tex"> (TeX source)</a></li>
                <li>Gründungsprotokoll - 2017-06-11<a href="https://dezentrale.space/docs/gruendungsprotokoll-dezentrale-2017-06-11.pdf"> (PDF)</a><a href="https://github.com/phantomix-github/dezentrale/blob/master/gruendungsprotokoll.tex"> (TeX source)</a></li>
                <hr/>
                <li>Protokoll, Vorstandssitzung #003 - 2017-07-23<a href="https://dezentrale.space/docs/vorstandssitzung-2017-07-23.pdf"> (PDF)</a><a href="https://github.com/phantomix-github/dezentrale/blob/master/protocol/vorstandssitzung-2017-07-23.tex"> (TeX source)</a></li>
                <li>Protokoll, Vorstandssitzung #002 - 2017-07-02<a href="https://dezentrale.space/docs/vorstandssitzung-2017-07-02.pdf"> (PDF)</a><a href="https://github.com/phantomix-github/dezentrale/blob/master/protocol/vorstandssitzung-2017-07-02.tex"> (TeX source)</a></li>
                <li>Protokoll, Vorstandssitzung #001 - 2017-06-21<a href="https://dezentrale.space/docs/vorstandssitzung-2017-06-21.pdf"> (PDF)</a><a href="https://github.com/phantomix-github/dezentrale/blob/master/protocol/vorstandssitzung-2017-06-21.tex"> (TeX source)</a></li>
            </ul>
        </div>
    </div>
</section>
{% endblock content %}

