{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<section id="one" class="wrapper">
    <div class="align-center">
        <h1>Girokonto</h1>
    </div>
    <div class="align-center">
        <pre>-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Kontoinhaber:  dezentrale
IBAN:  DE48 8605 5592 1090 1699 29
Sparkasse Leipzig (BIC:  WELADE8L)

-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1

iQGcBAEBCAAGBQJZagr2AAoJEIzTM2ydu2Cc0GML+wa9sji3YK55txUfqPYvN7Xd
3EvaEYZkpuXGTRGKL8KZNwK5ptOvpNVVpLUfQBwF3cFL8ftJuI9WUTBLPtJFJVkZ
W3K48nVlQ6vssKSQxDMnCjsOoytz087kayjQ+uo1wwTKHxQJCEpZly4hnITQDMMS
JsVrZ45uclulREwWQYeMqGF4eow/gk3Y4G0AWXB4o9jGbfxUN8Nhk/URij7ycmUW
SXlj++w+g657poyiy3niQs3OT0JG8seLTUac/EkKJ42e+ZyuiIJUtfhDpG8V/GaU
86aUafpTCDkaCKkcaHLrRtOQ165Q3aJfMFV0WfQr8A50yhWhCXavEa7Zxis4NqFb
9vUHDwmOKSmQsQ4pJnavWh3WaUgM/eLw+rKben0PL42rsKMMKhY4vEQdXpD10iTs
o0rgCpHoRTAOnY9W8WWOL4Bt2gp1/oS4jYD46bFPT3hllYanoze9SC0TRqYURS+E
qVMNqme4dmS3E6jNBr4fpgB2V6Exn3NKGauPA45nvw==
=WoI7
-----END PGP SIGNATURE-----
</pre>
    </div>
</section>
{% endblock content %}

