{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<section id="one" class="wrapper">
    <div class="align-center">
        <h1>Infrastructure</h1>
    </div>
    <div class="inner">
        <div>
            <h3>Domain name</h3>
            <p>dezentrale.space</p>
            <p>it is paid up until 2022-06-11T23:59:59.0Z, as a donation, and now it is legally owned by the e.V.</p>
            <p>Gandi account is accessible to anyone in the Vorstand already.</p>
        </div>
        <div>
            <h3>DNS hosting</h3>
            <p>(temporarily?) being provided by the domain registrar Gandi.net, free of charge, but we should set up something better (with DNSSEC) ourselves someday</p>
        </div>
        <div>
            <h3>E-Mails</h3>
            <p>vorstand@dezentrale.space goes to all of the Vorstand</p>
            <p>konto-*@dezentrale.space goes to all of the Vorstand, where the "*" can be the name of any company/organisation that the e.V. registers an account with</p>
            <p>There is no catch-all for *@dezentrale.space, because that would receive spam sent to any random address, and make it easier for spammers to forge email from us (sender-verification would always pass), and we would have difficulty later if we wanted to migrate to new infrastructure that doesn't support catch-alls (there would be no easy way to enumerate all of the addresses we really need/use).</p>
        </div>
        <div>
            <h3 id="content">VPSes</h3>
            <p>lokke and steven both have root access</p>
            <p>steven pays for the host machine at Hetzner, but the e.V. should someday replace it (when it has money, or maybe some servers on-site)</p>
            <p>lokke and steven both have root access</p>
            <p>steven pays for the host machine at Hetzner, but the e.V. should someday replace it (when it has money, or maybe some servers on-site)</p>
            <p>Both VPSes have IPv6, and a directly routed IPv4 address each.  Reverse DNS for IPv6 and IPv4 are correctly set up to match the hostname.</p>
            <p>SPF allows "A" and "MX" entries to send mail from @dezentrale.space.  Mailman changes "Sender:" to the mailing list's address, so that it passes SPF checks (but not DKIM).</p>
            <p>TODO: emails for root/listmaster/webmaster are not currently going anywhere...</p>
            <p>NTP is set up already on the host machine (so it is not needed inside of the VPSes).</p>
            <p>Certbot runs every few days via Cron, it should automatically renew the SSL certificates from LetsEncrypt.org every 2-3 months</p>
            <p>Qualys SSL Server Test:
            <a href="https://www.ssllabs.com/ssltest/analyze.html?d=dezentrale.space&amp;hideResults=on&amp;latest">grade A</a> as of 2017-08-29
            <a href="https://www.ssllabs.com/ssltest/analyze.html?d=lists.dezentrale.space&amp;hideResults=on">grade A</a> as of 2017-08-29</p>
            <p>TODO: (someday) OCSP stapling, if Apache supports it <a href="https://www.digitalocean.com/community/tutorials/how-to-configure-ocsp-stapling-on-apache-and-nginx">supported as of 2.3.3</a>, otherwise consider setting up Nginx for that purpose</p>
            <p>TODO: we redirect from http: to https:, but we don't send HSTS headers yet.</p>
            <p>/etc on all servers is tracked inside Git (by etckeeper)</p>
            <p>Ikiwiki tracks all of its content in Git (and configuration?)</p>
            <p>TODO: build the main website</p>
            <p>TODO: put the website content, mailman configurations into Git repositories too</p>
            <p>TODO: distribute the Git repositories somewhere (ideally can all be public, because passwords and private keys are excluded)</p>
            <p>TODO: back up private data (e.g. list archives) somewhere secure</p>
            <p>TODO: document how to rebuild the entire machines from backups, and actually test this</p>
        </div>
        <div>
            <h3>www.dezentrale.space</h3>
            <p><a href="https://dezentrale.space">dezentrale.space</a> - main website</p>
            <p><a href="https://dezentrale.space/wiki/">Wiki</a> - Ikiwiki, all of the Vorstand have admin access already</p>
            <p><a href="https://dezentrale.space/munin/">munin</a> - operational stats</p>
        </div>
        <div>
            <h3>lists.dezentrale.space</h3>
            <p><a href="https://lists.dezentrale.space">lists</a> - mailman web interface</p>
        </div>
        <div>
            <h3><a href="https://dezentrale.space/wiki/Girokonto/">Girokonto</a></h3>
            <p>The money legally belongs to the e.V.</p>
            <p>Only steven and georg are authorised by Sparkasse to access the account at the moment.</p>
            <p>Only steven has an EC-Karte and Online Banking access at the moment. The card is required to deposit/withdraw cash or print bank statements.</p>
        </div>
    </div>
</section>
{% endblock content %}

