{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <!-- Keywords / Introduction and Logo -->
    <section id="one" class="wrapper">
        <div class="inner flex flex-3">
            <div class="flex-item left">
                <div>
                    <h3>(hardware)</h3>
                    <p>
                      Hardware kann repariert, zerlegt und wieder neu zusammen gesetzt werden.
                      Der Drucker muss kein Bürogerät bleiben,
                      ein Röhrenbildschirm kann Kunst werden.
                    </p>
                </div>
                <div>
                    <h3>(soziales)</h3>
                    <p>
                      Zusammen etwas zu verwirklichen ist eine gute Sache.
                      Sich auszutauschen und voneinander zu lernen bringt am Ende alle weiter,
                      und sogar Minecraft macht gemeinsam mehr Spaß.
                    </p>
                </div>
            </div>
            <div class="flex-item image">
                <img src="{% static 'images/hex.png' %}" alt="hexa"/>
            </div>
            <div class="flex-item right">
                <div>
                    <h3>(netzpolitik)</h3>
                    <p>
                      Die Auswirkungen der Digitalisierung auf die Gesellschaft werden immer Umfassender.
                      Eine kritische Auseinandersetzung mit den Potenzialen und Gefahren der sich ausbildenden
                      Informationsgesellschaft ist notwendig.
                    </p>
                </div>
                <div>
                    <h3>(software)</h3>
                    <p>
                      Wenn die Programme unser Umfeld strukturieren,
                      sollten wir diejenigen sein die sie schreiben.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Banner Section -->
    <section id="banner">
        <div class="content">

            <h1>Dezentrale. Hackerspace. WTF?!</h1>
            <p>
              Die Dezentrale ist ein gemeinschaftlich verwalteter Ort,<br>
              an dem technologisch interessierte Menschen zusammen kommen können um voneinander zu lernen und an
              Projekten zu basteln.
            </p>
            <ul class="actions">
                <li><a href="#one" class="button scrolly">Mehr über uns...</a></li>
            </ul>

        </div>
    </section>

    <!-- Three picture boxes section -->
    <section id="three" class="wrapper">
        <div class="inner flex flex-3">
            <div class="flex-item box">
                <div class="image fit">
                    <img src="{% static 'images/pic01.jpg' %}" alt="a staircase"/>
                </div>
                <div class="content">
                    <h3>Das Gebäude</h3>
                    <p>
                      Die Dezentrale befindet sich im Hinterhaus der Dreilindenstraße 19.<br>
                      Der Hackerspace nimmt die komplette erste Etage ein<br>
                      und ist bislang nur über eine alte Holztreppe zu erreichen.
                    </p>
                </div>
            </div>
            <div class="flex-item box">
                <div class="image fit">
                    <img src="{% static 'images/pic02.jpg' %}" alt="room under construction"/>
                </div>
                <div class="content">
                    <h3>Die Räume</h3>
                    <p>
                      Die Dezentrale setzt sich aus vier Räumen zusammen.
                      Ein großer Raum dient als Elektronik-Werkstatt, Gemeinschaftsraum
                      und Chill-Out-Area. Darüber hinaus gibt es einen Server-/Abstellraum, ein Büro
                      und eine Küche.
                    </p>
                </div>
            </div>
            <div class="flex-item box">
                <div class="image fit">
                    <img src="{% static 'images/pic03.jpg' %}" alt="mailbox"/>
                </div>
                <div class="content">
                    <h3>Der Verein</h3>
                    <p>
                      Die Dezentrale wird von der Dezentrale e.V. verwaltet.
                      Wir freuen uns immer über neue Mitglieder*innen!
                      Schau doch einfach mal vorbei oder schreib uns ne Mail.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

