{% extends 'base.html' %}
{% load wagtailcore_tags %}
  <a class="button special" href="{{ page.get_parent.url }}">Back</a>
{% block content %}
  <div class="inner">
    {% for block in page.content %}
      {% if block.block_type == 'heading' %}
        <h1 class="align-center">{{ block.value }}</h1>
      {% else %}
        <p>
          {% include_block block %}
        </p>
      {% endif %}
    {% endfor %}
  </div>  
  <div class="align-right">
    <p>~{{ page.author }}</p>
    <sub>{{ page.latest_revision_created_at }}</sub>
  </div>


{% endblock content %}
